@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:969px) and (max-width:1024px){
	.img1, .img2, .img3{padding:25px 30px 15px;}
	.megamenu{width:70%; left:30%;}
}

@media screen and (max-width:1023px) {
	.footer h3{margin-top:35px;}
	.subtitle{font-size:20px;}
	.img1, .img2, .img3{padding:25px 30px 15px;}
	.readbtn{position:relative; bottom:0;}
	.footer li{margin:0;}
	
	.navbar-nav .dropdown-menu{display:none !important;}
	.dropdown-toggle::after{display:none !important;}
}


@media screen and (max-width: 767px) {
  .footer h3{margin-top:35px;}
  .navbar-expand-lg{background:rgba(0, 0, 0, 0.8);}
  .innerbanner h1{font-size:22px; padding-top: 110px;}
  .formcontainer{margin-bottom:25px;}
  .innercontainer{padding:80px 15px 20px;}
  .materialsection li{width:48%; margin-bottom:25px;}
  .descriptionlist .carouselsection .owl-theme .owl-nav{display:none;}
  #banner{height: 290px;}
  #banner .carousel-item img{object-fit: cover;}
  #banner .carousel-caption{top: 15%;}
  #banner .carousel-caption h3{font-size: 32px; white-space: nowrap;}
  #banner .carousel-caption p{font-size: 24px;}
  #mdlcontainer .features-icon{padding: 0;}
  #geosection{padding: 30px 30px;}
  #projectsection{padding: 0;}
  .project-slider .swiper-slide .project-box img{height: 160px;}
  .project-slider .swiper-slide .project-box figcaption p{display: none;}
  .project-slider .swiper-slide .project-box figcaption h5{font-size: 20px;}
  .project-slider .swiper-slide.swiper-slide-active .project-box figcaption{padding: 5px;}
  .project-slider .swiper-slide .project-box figcaption:after{content: none;}
  .aboutbanner, .health, .quality, .environment, .community, .projects, .innerbanner{min-height: 290px; padding: 30px 0 0;}
  .aboutbtmrow h3{font-size: 22px !important;}
  #myHeader .navbar-brand img{width:50%;}
}


@media screen and (max-width:479px){
/* .navbar-dark .navbar-toggler{position:absolute !important; right:30px; top:20px; border:1px solid #ccc;}
	 .sticky .navbar-brand img{width:50% !important;}
	 .sticky{background:#000 !important;}*/
}